<div class="row mb-2">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary float-end" (click)="printDoc()">
      <i class="fa fa-download mx-2"></i> Download
    </button>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary float-end" (click)="downloadDoc()">
      <i class="fa fa-download mx-2"></i> Download doc
    </button>
  </div>
</div>


<div id="offer-doc" class="page">

  <!-- HEADER -->
  <div class="header">
    <div class="logo-section">
         <img src="/assets/img/logo/logo-quaere.png" width="250" >

    </div>

    <div class="ref-date">
      <div><b>Ref:</b> Quaere/Emp/Offer/11234</div>
      <div><b>Date:</b> 12jan,2026</div>
    </div>
  </div>

  <!-- ADDRESS -->
  <div class="address">
    <p><b>{{personalDetails?.firstName}} {{personalDetails?.lastName}}</b></p>
    <p>S/O Mr. {{personalDetails?.fatherName}}</p>
    <p>{{personalDetails.permanentAddress}}</p>
    <p>{{personalDetails.currentAddress}}</p>
    <!-- <p>{{city}} - {{pincode}}</p> -->
  </div>

  <!-- SUBJECT -->
  <p class="salutation">Dear {{personalDetails?.firstName}} {{personalDetails?.lastName}},</p>

  <!-- BODY -->
  <div class="content">
    <p>
      With reference to your application and subsequent interview with us,
      we are pleased to offer you employment in our Company as
      <b>{{personalDetails?.designation}}</b> in the <b>{{personalDetails?.department}}</b> at our Head Office – {{personalDetails?.location}},
      as per the mutually agreed terms and conditions discussed with you at the time of interview.
    </p>

    <p>
      You are requested to report for joining on or before
      <b>{{personalDetails?.joiningDate}}</b>.
    </p>

    <p>You are advised to submit the following documents at the time of joining:</p>

    <ol>
      <li>Three latest passport size photographs.</li>
      <li>Self-attested copy of address proof & ID proof.</li>
      <li>Mark sheet of 10th, 12th and Degree/Diploma.</li>
      <li>Salary proof from previous company.</li>
      <li>Relieving Letter from previous employers.</li>
      <li>Two references (one current & one previous employer).</li>
    </ol>

    <p>
      This offer would automatically stand revoked in the event of not reporting
      at the date specified above or if negative reference is received.
    </p>

    <p>
      At the time of joining, the formal appointment letter containing detailed
      terms & conditions will be issued to you.
    </p>

    <p>
      We take this opportunity to welcome you to our company and look forward
      to a long and mutually beneficial association with you.
    </p>

    <p>
      Please confirm your acceptance of this offer by signing and returning a copy.
    </p>
  </div>

  <!-- SIGNATURE -->
  <div class="signature-section">
    <div>
      <p>Thanks & Regards</p>
      <img src="assets/sign.png" class="sign" />
      <p><b>Human Resource Dept</b></p>
    </div>

    <div class="accepted">
      <p>Agreed & Accepted</p>
      <p><b>{{personalDetails?.firstName}} {{personalDetails?.lastName}}</b></p>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div class="footer-left">
      <p>
        Quaere Technologies Private Limited<br />
        7th Floor, Cyber Tower, Vibhuti Khand,<br />
        Gomti Nagar, Lucknow - 226010<br />
      Email: info&#64;quaeretech.com <br>
      </p>
    </div>

    <div class="footer-right">
      <img src="/assets/img/logo/Picture1.jpg" alt="SOC2" style="height:40px;">
      <img src="/assets/img/logo/Picture2.png" alt="UPDESCO" style="height:40px;">
    </div>
  </div>

</div>
