<div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0 bg-pattern" style="background-image: url('/assets/img/logo/abstract-background_1409-897.jpg');background-size: cover;background-position: center;">
  <!-- <div class="auth-pattern-shapes d-none d-lg-block"></div>
  <div class="auth-pattern-outline d-none d-lg-block"></div>
  <div class="auth-pattern-shape extra d-none d-lg-block"></div>
  <div class="auth-pattern-extra d-none d-lg-block"></div> -->
  <div class="py-6">
    <!-- Login -->
    <div class="container p-md-7 p-1">
      <!-- Logo -->
      <div class="app-brand justify-content-center mt-5">
        <a href="/" class="app-brand-link gap-2">
          <img src="/assets/img/logo/logo-quaere.png" width="250">

        </a>

      </div>
      <div class="app-brand justify-content-center mb-10 mt-5">
        <div class="text-center">
          <h4 class="quaere-text">Quaere ETechnologies Pvt. Ltd.</h4>
          <p class="pquaere-text">
            7th Floor, Cyber Tower, Pickup Road, Vibhuti Khand, Gomti Nagar, Lucknow-226010 (Uttar Pradesh)
          </p>
        </div>
      </div>
      <!-- /Logo -->

      <div class="row mb-12 mt-4 g-6">
        <div class="col-md-12">
          <div class="row g-3">

            <div class="col-lg-4" *ngFor="let branch of branchList">
              <div class="card shadow-none border border-white text-primary text-center card-border-hover1" style="border: 0.5px solid #ddd;padding: 40px 20px;">
                <div class="card-body ccs-traceCard p-4">
                  <div class="mb-3">
                    <img src="/assets/img/logo/icomoon-free_office.svg" width="80">
                  </div>

                  <h5 class="card-title">{{ branch.name }}</h5>

                  <p class="card-text mb-3">
                    {{ branch.description || 'Central administration and monitoring access.' }}
                  </p>

                  <button class="btn btn-outline-primary waves-effect waves-light mt-3" (click)="goToDashboard(branch)">
                    Go to Dashboard
                  </button>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="row g-3 ">
            <div class="col-md-4">
              <div class="content">
                <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image"
                    src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto">
                  <div class="content-details">
                    <h4 class="text-white">Lucknow</h4>
                    <p class="text-white">Central administration and monitoring access.</p>
                    <h3 class="content-title">Login<i class="fas fa-arrow-right arrow"></i></h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image"
                    src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto">
                  <div class="content-details">
                     <h4 class="text-white">Varanasi</h4>
                    <p class="text-white">Central administration and monitoring access.</p>
                    <h3 class="content-title">Login<i class="fas fa-arrow-right arrow"></i></h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image"
                    src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto">
                  <div class="content-details">
                     <h4 class="text-white">Jaunpur</h4>
                    <p class="text-white">Central administration and monitoring access.</p>
                    <h3 class="content-title">Login<i class="fas fa-arrow-right arrow"></i></h3>
                  </div>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="buy-now">
          <!-- <a href="#costumModal11" target="_blank" data-toggle="modal"
            class="btn btn-primary btn-buy-now waves-effect waves-light">View More</a> -->
          <button type="button" class="btn btn-outline-white bg-white text-primary btn-buy-now waves-effect waves-light" data-bs-toggle="modal"
            data-bs-target="#animationModal">
            View More
          </button>

        </div>


         <!-- Modal template -->
    <div class="modal animate__animated animate__heartBeat" id="animationModal" tabindex="-1" aria-modal="true"
      role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel5">Search Branch</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-6 mt-2">
                <div class="form-floating form-floating-outline">
                  <input type="search" id="nameAnimation" class="form-control" placeholder="Search Branch">
                  <label for="nameAnimation">Search Branch</label>
                </div>
                <div class="col mb-6 mt-2">
                  <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action active waves-effect">Bear claw cake biscuit</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action waves-effect">Soufflé pastry pie ice</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action disabled waves-effect">Tart tiramisu cake</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action waves-effect">Bonbon toffee muffin</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action waves-effect">Dragée tootsie roll</a>
                  </div>
                </div>
              </div>
            </div>


            
          </div>
          <div class="modal-footer">
            <hr>
            <button type="button" class="btn btn-primary waves-effect waves-light">Search</button>
          </div>
        </div>
      </div>
    </div>


      <!-- <div class="row mb-12 g-6">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-100 text-center">
                                <div class="card-body">
                                    <div class="mb-4"><img src="/assets/img/logo/office.svg" width="60"></div>
                                    <h5 class="card-title">Lucknow Branch</h5>
                                    <p class="card-text">Central administration and monitoring access.
                                    </p>
                                    <a href="javascript:void(0)" class="btn btn-primary waves-effect waves-light">Go to
                                        Dashboard</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-100 text-center">
                                <div class="card-body">
                                    <div class="mb-4"><img src="/assets/img/logo/office.svg" width="60"></div>
                                    <h5 class="card-title">Varanasi branch</h5>
                                    <p class="card-text">Central administration and monitoring access.
                                    </p>
                                    <a href="javascript:void(0)" class="btn btn-primary waves-effect waves-light">Go to
                                        Dashboard</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-100 text-center">
                                <div class="card-body">
                                    <div class="mb-4"><img src="/assets/img/logo/office.svg" width="60"></div>
                                    <h5 class="card-title">Jaunpur Branch</h5>
                                    <p class="card-text">Central administration and monitoring access.
                                    </p>
                                    <a href="javascript:void(0)" class="btn btn-primary waves-effect waves-light">Go to
                                        Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <!-- /Login -->
    <!-- <img alt="mask" src="/assets/img/illustrations/auth-basic-forgot-password-mask-light.png"
      class="authentication-image d-none d-lg-block"
      data-app-light-img="illustrations/auth-basic-forgot-password-mask-light.png"
      data-app-dark-img="illustrations/auth-basic-forgot-password-mask-dark.png" style="visibility: visible;"> -->
  </div>
</div>