/* You can add global styles to this file, and also import other style files */

@import "@ng-select/ng-select/themes/default.theme.css";
 /* .ng-select .ng-select-single .ng-select-container {
        height: 44px !important;
        border-radius: 22px !important;
    } */
.form-control{
  height: 38px;
}
.form-label{
  font-weight: bold !important;
}

.table thead tr th {
    padding-block: 1rem!important;
}

span.bg-label-success {
    color: #479613 !important;
}
span.bg-light-danger {
    color: #bb1717 !important;
}
span.bg-light-success {
    color: #12d854 !important;
}


.card-title h5{
    color: #3B6E8F;
}

button.btn.btn-xs.btn-primary.waves-effect.waves-light {
    background: #4FA3D1;
    border-color: #4FA3D1;
}

.text-developer{
   color: #154d71;
}
div.dt-container div.dt-length select {
    margin-inline: 0.5rem;
}
div.dt-container div.dt-length select {
    width: auto;
    display: inline-block;
    margin-right: 0.5em;
}

div.dt-container div.dt-search input {
    margin-inline: 0.5rem 0;
}

div.dt-container div.dt-search input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

/* nav.layout-navbar {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
} */
