<div class="container-fluid">

    <div class="row mt-5 align-item-center">
        <div class="col-md-6">
            <h4>Interviewer Dashboard</h4>
        </div>
        <!-- <div class="col-md-6 text-end">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
        </div> -->
    </div>

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="avatar me-4">
                            <div class="avatar-initial bg-label-primary rounded-3">
                                <i class="icon-base ri ri-user-star-line icon-24px"> </i>
                            </div>
                        </div>
                        <div class="card-info">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 me-2">6</h5>

                                <small class="text-primary">Today</small>
                            </div>
                            <p class="mb-0">Scheduled Interviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="avatar me-4">
                            <div class="avatar-initial bg-label-primary rounded-3">
                                <i class="icon-base ri ri-user-star-line icon-24px"> </i>
                            </div>
                        </div>
                        <div class="card-info">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 me-2">5</h5>

                                <small class="text-info">Pending</small>
                            </div>
                            <p class="mb-0">Pending Feedbacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="avatar me-4">
                            <div class="avatar-initial bg-label-primary rounded-3">
                                <i class="icon-base ri ri-user-star-line icon-24px"> </i>
                            </div>
                        </div>
                        <div class="card-info">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 me-2">8</h5>

                                <small class="text-danger">8.10%</small>
                            </div>
                            <p class="mb-0">Interviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="avatar me-4">
                            <div class="avatar-initial bg-label-primary rounded-3">
                                <i class="icon-base ri ri-user-star-line icon-24px"> </i>
                            </div>
                        </div>
                        <div class="card-info">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 me-2">8</h5>

                                <small class="text-success">Candidates</small>
                            </div>
                            <p class="mb-0">Selected Candidates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xxl-4 col-md-6">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Today's Interview</h5>

                </div>
                <div class="card-body">
                    <ul class="p-0 m-0">
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Priya Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">React Developer</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/5.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Sushmita Dixit</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-warning rounded-pill">Software Engi.</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/3.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Divya Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-info rounded-pill">UI/UX Designer</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/14.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Shashank Pandey</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-info rounded-pill">UI/UX Designer</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/8.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Manan Srivastava</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-success rounded-pill">Quality Analyst</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/1.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Vijay Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Software Enginner</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-4 col-md-6">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Pending Interview Feedbacks</h5>

                </div>
                <div class="card-body">
                    <ul class="p-0 m-0">
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Priya Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/5.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Sushmita Dixit</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/3.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Divya Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/14.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Shashank Pandey</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-4 pb-2">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/8.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Manan Srivastava</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0 me-4">
                                <img src="../../assets/img/avatars/1.png" alt="avatar" class="rounded-3">
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Vijay Singh</h6>
                                    <small class="d-flex align-items-center">

                                        <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                    </small>
                                </div>
                                <div class="badge bg-label-primary rounded-pill">Submit Feedback</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xxl-4">
            <div class="card h-100">

                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Schedule Interviews</h5>
                </div>

                <div class="card-body p-0">
                    <div class="nav-align-top">
                        <ul class="nav nav-tabs nav-fill bg-transparent" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link waves-effect active" role="tab"
                                    data-bs-toggle="tab" data-bs-target="#navs-justified-new"
                                    aria-controls="navs-justified-new" aria-selected="false"
                                    tabindex="-1">Selected</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link waves-effect" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-justified-link-preparing"
                                    aria-controls="navs-justified-link-preparing" aria-selected="false"
                                    tabindex="-1">Not Selected</button>
                            </li>

                        </ul>
                        <div class="tab-content border-0 pb-0 px-6 mx-1 bg-transparent">
                            <div class="tab-pane fade active show" id="navs-justified-new" role="tabpanel">
                                <ul class="p-0 m-0">
                                    <li class="d-flex align-items-center mb-4 pb-2">
                                        <div class="avatar flex-shrink-0 me-4">
                                            <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                                        </div>
                                        <div
                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">Priya Singh</h6>
                                                <small class="d-flex align-items-center">

                                                    <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center mb-4 pb-2">
                                        <div class="avatar flex-shrink-0 me-4">
                                            <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                                        </div>
                                        <div
                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">Priya Singh</h6>
                                                <small class="d-flex align-items-center">

                                                    <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center mb-4 pb-2">
                                        <div class="avatar flex-shrink-0 me-4">
                                            <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                                        </div>
                                        <div
                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">Priya Singh</h6>
                                                <small class="d-flex align-items-center">

                                                    <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center mb-4 pb-2">
                                        <div class="avatar flex-shrink-0 me-4">
                                            <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                                        </div>
                                        <div
                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">Priya Singh</h6>
                                                <small class="d-flex align-items-center">

                                                    <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center mb-4 pb-2">
                                        <div class="avatar flex-shrink-0 me-4">
                                            <img src="../../assets/img/avatars/4.png" alt="avatar" class="rounded-3">
                                        </div>
                                        <div
                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">Priya Singh</h6>
                                                <small class="d-flex align-items-center">

                                                    <span class=" ms-1">21 Jul | 08:20-10:30</span>
                                                </small>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="navs-justified-link-preparing" role="tabpanel">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>